body {
  font-family: helvetica;
  margin-top: 30px;
  margin-left: 30px;
}

.instruction {
  width: 100%;
}

#outside {
  width:100%;
}

main {
  width: 960px;
  margin: 30px auto;
}

#always_three li {
  float: left;
  margin: 30px 30px 30px 0;
}

#always_three li:last-child {
  margin-right: 0px;
}

#always_three li img {
  height: 150px;
  width: 150px;
  border: 1px solid #0F1F1F;
}

.summary {
  clear: both;
  width: 100%;

}
